@charset "UTF-8";


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
<<<<<<< HEAD
	font-size: 18px;
=======
	font-size: 12px;
>>>>>>> 895255a981f17f090a91a6682d4a432d3f28dcc5
	color: #333;
}

.backgroundImg {
	background: url("../images/mountains.jpg") no-repeat;
	background-attachment: fixed;
}

.hidden {
	display: none;
}

#siteContainer {
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}

#mainBanner {
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: center;
}

#contentCon p {
<<<<<<< HEAD
=======
	line-height: 430px;
>>>>>>> 895255a981f17f090a91a6682d4a432d3f28dcc5
	background-color: #efefef;
	padding: 20px;
}

.content1 {
	width: 440px;
	background-color: #ccc;
	padding: 20px;
}

.content2 {
	margin-left: auto;
	width: 440px;
	background-color: #ccc;
	padding: 20px;
}

<<<<<<< HEAD
.content3 {
=======
.content2 {
>>>>>>> 895255a981f17f090a91a6682d4a432d3f28dcc5
	margin-left: auto;
	width: 440px;
	background-color: #ccc;
	padding: 20px;
}

<<<<<<< HEAD
.imgWrap{
	width:410px;
}
=======
.content3 {
	margin-left: auto;
	width: 440px;
	background-color: #ccc;
	padding: 20px;
}
>>>>>>> 895255a981f17f090a91a6682d4a432d3f28dcc5
